@import '../../../../styles/variables';

.sk_details__report__category-block {
  margin-top: 20px;
}

.sk_details__report__category-title {
  margin-bottom: 25px;
}

.sk_details__report__category-row {
  padding-left: 0 !important;
  margin-top: 10px;
}

.sk_details__report__category-col {
  padding-left: 0 !important;
  margin-bottom: 10px;
}

.sk_details__report__button-show-all {
  padding-left: 30px;
  padding-right: 30px;
  color: $color-primary;
}

.sk_details__report__button-have-questions {
  background: $color-primary;
  color: whitesmoke;
  border-radius: 10px;
}
