.sk_details__history__icon_list_image {
  float: left;
  margin-right: 10px;
  width: 24px;
}

.sk_details__history_block {
  padding-left: 0 !important;
  margin-top: 10px;
}

.sk_details__history_status-red {
  border-left: 5px solid red;
  padding-left: 5px;
}
.sk_details__history_status-green {
  border-left: 5px solid yellowgreen;
  padding-left: 5px;
}

.sk_details__history_icon-list-image {
  float: left;
  margin-right: 10px;
  width: 25px;
  height: 25px;
}
