.info_image {
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
  border: 3px solid black;
  box-shadow: 1px 5px 7px #888888;
}

.info_image__info_panel,
.info_image__info_panel_bg {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  transition: height 0.25s, opacity 0.25s;
}

.info_image:hover .info_image__info_panel,
.info_image:hover .info_image__info_panel_bg {
  height: 30%;
}

.info_image:hover .info_image__info_panel_bg {
  opacity: 0.6;
}

.info_image__info_panel_bg {
  background-color: black;
  opacity: 0.3;
}

.info_image__info_panel {
  padding-left: 4px;
  padding-right: 4px;
  color: white;
}

.info_image__image {
  margin: 0 auto;
  max-width:100%;
  max-height:100%;
}
