.triven-loader-wrapper {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.triven-loader {
  border-radius: 50%;
  border: 8px solid #7cd2ff;
  border-right-color: green;
  border-bottom-color: #ff5e52;
  border-left-color: #fff466;
  width: 45px;
  height: 45px;
  -webkit-animation: triven-loader-spin 2s linear infinite;
  animation: triven-loader-spin 2s linear infinite;
  margin-left: 9px;
  margin-bottom: 5px;
  z-index: 999;
  position: absolute;
  left: 50%;
  top: 60%;
}

.triven-loader-disabler {
  pointer-events: none;
}

@-webkit-keyframes triven-loader-spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes triven-loader-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
