.triven-loader-wrapper {
  background-color: rgba(0, 0, 0, 0.1);
}

.triven-loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #7cd2ff;
  border-right: 8px solid green;
  border-bottom: 8px solid #ff5e52;
  border-left: 8px solid #fff466;
  width: 45px;
  height: 45px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-left: 9px;
  margin-bottom: 5px;

  position: absolute;
  left: 50%;
  top: 60%;
}

.triven-loader-disabler {
  pointer-events: none;
}

@-webkit-keyframes triven-loader-spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes triven-loader-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
