# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
application.properties

# Folders #
###################
.idea/
.mvn/
.settings/
target/

# Packages #
############
# it's better to unpack these filesToUpload and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
lib/
