.vehicle-component--list-card {
  margin: 10px 0;
  padding: 10px;
}

.vehicle-component--card-background {
  background-color: #efefef;
  padding: 10px
}

.vehicle-component--button-success {
  font-size: 20px;
}
