@import '../../styles/variables';

.skynda-logo-separator {
  display: none;
}

@media screen and (max-width: 750px) {
  .skynda-logo-image-1 {
    height: 48px !important;
    width: 48px;
    //display: none;
  }
  .skynda-logo-separator {
    display: block;
    margin: 5px;
  }
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
  .skynda-nav-link {
    font-size: 22px;
    padding-left: 5px !important;
    padding-right: 0px !important;
  }
  .skynda-logo-image-1 {
    display: none;  // lol xD - hide the fucking bee :D
  }
}

.header-container{
  align-items: center;
  justify-content: center;
  max-height: inherit;

  .sk-navbar{
    //height: 70px;
    .sk-menu{
      display: flex;
      font-size: 24px;
      a{
        padding: 0 15px 0 10px;
        color: $color-third;
      }
    }
  }

  .sk_logo{
    padding: 0;

    img{
      height:56px;
      margin-right: 15px;
      &:first-child{
        margin-left: 15px
      }
    }

    img + img{
      height: 48px;
    }
  }

  //.navbar_default .navbar_nav > .sk_menu__sell >a:hover,
  //.navbar_default .navbar_nav > .sk_menu__buy > a:hover{
  //  color: #5A5B5C;
  //}
  .navbar_default .navbar_nav > .sk_menu__sell >a{
    color: $color-secondary;
  }

  .navbar_default .navbar_nav > .sk_menu__buy > a{
    color: $color-primary;
  }

}

