@font-face {
  font-family: "Skynda-OpenSans-Regular";
  src: local('OpenSans-Regular');
  src: url('./static/fonts/OpenSansRegular/OpenSans-Regular.eot');
  src: url('./static/fonts/OpenSansRegular/OpenSans-Regular.svg') format('svg');
  src: url('./static/fonts/OpenSansRegular/OpenSans-Regular.ttf') format('ttf');
  src: url('./static/fonts/OpenSansRegular/OpenSans-Regular.woff') format('woff');
  src: url('./static/fonts/OpenSansRegular/OpenSans-Regular.woff2') format('woff2');
}

body {
  font-size: 16px;
  font-family: 'Skynda-OpenSans-Regular', sans-serif;
  color: #5A5B5C;
}
