@import '../../../../styles/variables';

.inspectors-report{
  .category-title{

  }

  .multiline_text_line_height{
    line-height: 1.8;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .blue_title_report_item{
    color: $color-primary;
  }

  .inspector-block{
    padding-bottom: 25px;
  }

  .line-item{
    padding-bottom: 15px;
    p{
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .sk_details__report__category-block {
    margin-top: 20px;
  }

  .sk_details__report__category-title {
    margin-bottom: 25px;
  }

  .sk_details__report__category-row {
    padding-left: 0 !important;
    margin-top: 10px;
  }

  .sk_details__report__category-col {
    padding-left: 0 !important;
    margin-bottom: 10px;
  }

  .sk_details__report__button-show-all {
    padding-left: 30px;
    padding-right: 30px;
    color: $color-primary;
  }

  .sk_details__report__button-have-questions {
    background: $color-primary;
    color: whitesmoke;
    border-radius: 10px;
  }

  .sk_details__report__button-send-question{
    background: $color-primary;
    color: whitesmoke;
  }

  .sk_details__report__question-title {
    color: $color-primary !important;
    text-align: center;
  }

  .sk_details__report__question-close-button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    cursor: pointer;
  }
}

