.slickContainer{
  padding-top:10px;
  padding-bottom: 10px;
  min-height: 0;
  min-width: 0;
  .slick-arrow{
    background: black;
  }
  .slick-custom{
    position: absolute;
    top: 50%;
    color:#6fc6ff;
    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    border: none;
    outline: none;
    background: transparent;
  }

  .glyphicon-chevron-right{
    right: -25px;
  }
  .glyphicon-chevron-left{
    left:-25px;
  }
div{
  min-height: 0;
  min-width: 0;
}

  div.slick-track{
    div.slick-slide{
      width: 255px !important;
      overflow: hidden;
      img{
        border-radius: 10px;
        margin:auto;
      }
    }
  }
}


