.overview__overview-block {
  align-content: center;
  margin: 0 auto;
}

.overview__overview-icon-row {}

.overview__overview-label-col,
.overview__overview-icon-col {
  text-align: center
}
.overview__overview-icon {
  width: 40px;
  height: 40px; // todo: fix
  margin-bottom: 20px;
}

.overview__overview-label-row {
  margin-top: 5px;
  margin-bottom: 5px;
}

.sk_details__overview_flex-container-item {
  padding: 10px 20px;
  text-align: center;
  min-width: 130px;
}

.sk_details__overview_flex-container {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.overview__overview-label {
  margin-top: 10px;
  max-width: 130px;
}
